<footer>
  <h4>A propos</h4>
  <p><em>Les mystères de Bourges</em> est un jeu de piste sous forme de balades urbaines ponctuées d'énigmes. Conçu à Bourges, nos parcours s'appuient sur le patrimoine local berruyer afin de faire découvrir des endroits touristiques, connus ou non à tous les publics curieux d'apprendre en s'amusant.</p>
  <h4>Tout ce qu'il faut savoir</h4>
  <ul>
    <li><a href="notre-parcours-escape-game-bourges.html">Notre parcours</a></li>
    <li><a href="tarifs-escape-game-bourges.html">Tarifs</a></li>
    <li><a href="bon-cadeau-escape-game-bourges.html">Bon cadeau</a></li>
    <li><a href="notre-concept-escape-game-bourges.html">Concept</a></li>
    <li><a href="avis-escape-game-bourges.html">Avis de joueurs</a></li>
    <li><a href="faq-escape-game-bourges.html">Foire aux questions</a></li>
  </ul>
  <ul>
    <li>
      <a href='https://www.instagram.com/lesmysteresdebourges'>
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href='https://www.facebook.com/lesmysteresdebourges'>
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href='https://www.tripadvisor.fr/Attraction_Review-g187120-d19433074-Reviews-Les_mysteres_de_Bourges-Bourges_Cher_Berry_Centre_Val_de_Loire.html'>
        <i class="fa fa-tripadvisor"></i>
      </a>
    </li>
  </ul>
  <h4>En savoir plus</h4>
  <ul>
    <li><a href="reservation-escape-game-bourges.html">Contact</a></li>
    <li><a href="histoire-escape-game-bourges.html">Notre histoire</a></li>
    <li><a href="presse-escape-game-bourges.html">Ils parlent de nous</a></li>
    <li><a href="nos-amis.html">Nos amis</a></li>
    <li><a href="politique-confidentialite.html">Politique de confidentialité</a></li>
    <li><a href="conditions-generales-CGU.html">CGU</a></li>
    <li><a href="mentions-legales.html">Mentions légales</a></li>
  </ul>
  <img src="assets/images/footer-logo-escape-game-bourges-jeu-piste.png" alt="Logo Les mystères de Bourges - Escape game extérieur à Bourges">
</footer>

<!-- JS -->
<script src="https://kit.fontawesome.com/0f4d1dc307.js" crossorigin="anonymous"></script>
