<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>A propos</h4>
        <p class="text-justify"><em>Les mystères de Bourges</em> est un jeu de piste sous forme de balades urbaines ponctuées d'énigmes. Conçu à Bourges, nos parcours s'appuient sur le patrimoine local berruyer afin de faire découvrir des endroits touristiques, connus ou non à tous les publics curieux d'apprendre en s'amusant.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Tout ce qu'il faut savoir</h4>
        <ul class="list-unstyled">
          <li><a href="nos-parcours-escape-game-bourges.html" class="footer-link">Notre parcours</a></li>
          <li><a href="tarifs-escape-game-bourges.html" class="footer-link">Tarifs</a></li>
          <li><a href="bon-cadeau-escape-game-bourges.html" class="footer-link">Bon cadeau</a></li>
          <li><a href="notre-concept-escape-game-bourges.html" class="footer-link">Concept</a></li>
          <li><a href="avis-escape-game-bourges.html" class="footer-link">Avis de joueurs</a></li>
          <li><a href="faq-escape-game-bourges.html" class="footer-link">Foire aux questions</a></li>
        </ul>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href='https://www.instagram.com/lesmysteresdebourges'>
              <i class="fa fa-instagram navbar-socialmedia footer-link"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href='https://www.facebook.com/lesmysteresdebourges'>
              <i class="fab fa-facebook navbar-socialmedia footer-link"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href='https://www.tripadvisor.fr/Attraction_Review-g187120-d19433074-Reviews-Les_mysteres_de_Bourges-Bourges_Cher_Berry_Centre_Val_de_Loire.html'>
              <i class="fa fa-tripadvisor navbar-socialmedia footer-link"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>En savoir plus</h4>
        <ul class="list-unstyled">
          <li><a href="reservation-escape-game-bourges.html" class="footer-link">Contact</a></li>
          <li><a href="histoire-escape-game-bourges.html" class="footer-link">Notre histoire</a></li>
          <li><a href="presse-escape-game-bourges.html" class="footer-link">Ils parlent de nous</a></li>
          <li><a href="nos-amis.html" class="footer-link">Nos amis</a></li>
          <li><a href="politique-confidentialite.html" class="footer-link">Politique de confidentialité</a></li>
          <li><a href="conditions-generales-CGU.html" class="footer-link">CGU</a></li>
          <li><a href="mentions-legales.html" class="footer-link">Mentions légales</a></li>
        </ul>
        <img src="assets/images/footer-logo-escape-game-bourges-jeu-piste.png" alt="Logo Les mystères de Bourges - Escape game extérieur à Bourges" class="footer-logo">
      </div>
    </div>
  </div>
</footer>

<!-- JS -->
<script src="https://kit.fontawesome.com/0f4d1dc307.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
