<nav class="navbar-custom">
  <a href="index.html" class="navbar-custom-brand"><img src="assets/images/logotype-les-mysteres-de-Bourges-escape-game-exterieur-bourges.png" alt="logo Les mystères de Bourges | Escape game extérieur à Bourges"></a>

  <div class="navbar-right">
    {% for item in site.data.navbar %}
      <a href="{{ item.link }}" class="navbar-item navbar-link">{{ item.name }}</a>
    {% endfor %}

    <a href="https://www.instagram.com/lesmysteresdebourges/" class="navbar-item navbar-link navbar-socialmedia">
      <i class="fa fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/lesmysteresdebourges/" class="navbar-item navbar-link navbar-socialmedia">
        <i class="fab fa-facebook"></i>
    </a>
  </div>
  <div class="navbar-item">
      <i class="fa fa-bars"></i>
      <ul class="navbar-dropdown-menu">
        {% for item in site.data.navbar %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
  </div>
</nav>
