.avis-carre {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

#avis-1, #avis-5 {
  background-color: $red;
}

#avis-2, #avis-6 {
  background-color: $blue;
}

#avis-3, #avis-7 {
  background-color: $green;
}

#avis-4 {
  background-color: $gray-lmdb;
}

#google-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
