.tarifs-carre {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;

  span {
    margin-bottom: 0px;
  }

  .fa {
    font-size: 42px;
  }

  .tarifs-carre-large-text {
    font-family: $header-font;
    font-weight: bold;
    font-size: 82px;
    margin: -40px 0px;
  }

  .tarifs-carre-normal-text{
    font-family: $header-font;
    font-weight: bold;
    font-size: 32px;
    margin-top: -20px;
  }
}

#tarif-1 {
  background-color: $red;
}

#tarif-2 {
  background-color: $green;
}

#tarif-3 {
  background-color: $blue;
}

#tarif-4 {
  background-color: $gray-lmdb;
}

.emoji {
  height: 72px;
  margin-top: 8px;
}
