.banner {
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  p {
    color: white;
    font-size: 28px;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding: 16px 0px;
    margin: 8px 0px;
  }

  .btn {
    padding: 15px 20px;
    font-weight: bold;
  }
}
