.btn {
  border-radius: 0;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  background: $red;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #b30004;
  color: white;
}

.btn-white {
  color: $red;
  border: 2px solid $red;
}

.btn-white:hover {
  color: #b30004;
  border: 2px solid #b30004;
}
