.card-parcours {
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  span {
    position: absolute;
    left: 1rem;
    top: 1rem;
    text-decoration: none;
    font-family: $header-font;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
}
