nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 5em;
  }
}

#navbar-btn {
  background-color: $red;
  color: white;
  font-weight: bold;
  padding: 0.8em 1.6em;
  margin-right: 1em;
}
