/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Playfair+Display:400,400i,700&display=swap");

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Playfair Display", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 1rem;
$base-height: 2.2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */

// Colors LMDB
$red: #EB5754;
$blue: #739CBD;
$green: #7EBA28;
$gray-lmdb: #9A9999;
$orange: #E67E22;
$yellow: #FDB631;
