.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: inline-block;
}

#indice {
    font-size: small;
    color: white;
}

#tour {
    display: flex;
    flex-direction: column;
    height: 200vh;
    justify-content: space-between;
}

.brique {
    width: 8vw;
    height: 2%;
    border: 1px solid grey;
}

.rouge {
    background-color: red;
}

.orange {
    background-color: orange;
}

.jaune {
    background-color: yellow;
}

.rose {
    background-color: pink;
}

.vert {
    background-color: greenyellow;
}

.bleu {
    background-color: cyan;
}

.instagram-urls {
    display: none;
}